html {
	--size: 5vw;
}

div.branding {
	--timeA: 0.25s;
	--timeB: 0.5s;
	--hSpace: 24%;
	display: inline-block;
	position: relative;
	left: 50%;
	transform: translate(-50%);
	text-align: center;
	padding-top: 1rem;
	margin-bottom: 1.5rem;
	background-color: #000000;
	z-index: 2;
	transition:
		transform var(--timeB) var(--timeA) ease-in-out,
		left var(--timeB) var(--timeA) ease-in-out;
}

div.branding::after {
	position: absolute;
	top: 12.5%;
	left: calc(-1 * var(--hSpace));
	right: calc(-1 * var(--hSpace));
	bottom: -15%;
	content: '';
	background-image: url('/images/olive-branch-left.svg'), url('/images/olive-branch-right.svg');
	background-repeat: no-repeat, no-repeat;
	background-position: top left, top right;
	filter: invert(50%);
}

div.branding h1,
div.branding h2 {
	font-family: cinzelregular;
	font-weight: normal;
	margin: 0;
}

h3,h4 {
	font-family: robotomedium;
}

div.branding h1 {
	font-size: min(max(var(--size), 1.25rem), 6rem);
	transition: font-size var(--timeA) 0.1s ease-in;
}

div.branding h2 {
	font-size: min(max(calc(var(--size) * 0.5), 0.85rem), 5rem);
	transition: font-size var(--timeA) 0.1s ease-in;
}

h3 {
	font-size: min(max(calc(var(--size) * 0.75), 1.75rem), 4rem);
}

h4 {
	font-size: min(max(calc(var(--size) * 0.65), 1.5rem), 3rem);
}

.no-break {
	white-space: nowrap;
}

header[data-scrolled=true] div.branding {
	min-width: 8rem;
	/*left: 0;*/
	/*transform: translateX(30px);*/
	--size: 1vw;
}

header div.branding hr {
	opacity: 0.25;
}

span.rest {
	display: inline-block;
	transform-origin: left;
}

/*header[data-scrolled=true] span.rest {
	width: 0;
	transform: scaleX(0);
	overflow: hidden;
}

*/