form {
	flex: 1;
}

form,
form > label {
	display: flex;
	flex-direction: column;
}

form > label {
	margin-bottom: 0.75rem;
}

input, select {
	width: 100%;
	background-color: transparent;
	border: 1px solid rgba(255,255,255,0.5);
	padding: 0.5rem;
	color: rgba(255, 255, 255, 0.75);
	box-sizing: border-box;
}

input[type=button] {
	background-color: rgba(255, 255, 255, 0.75);;
	color: rgba(0, 0, 0, 0.75);
	max-width: 50%;
	align-self: flex-end;
	margin: 0;
}

button {
	background-color: transparent;
	color: white;
	border: 1px solid white;
	border-radius: 0;
	padding: 1rem 2rem;
	margin: 0.5rem 1rem;
}

button.cta {
	background-color: white;
	color: black;
}