html {
	min-height: 100%;
	font-family: robotoregular;
}

html,
body {
	display: flex;
	flex-direction: column;
}

body {
	background-color: #000000;
	color: #FFFFFF;
	margin: 0;
	max-width: 1000px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.row {
	display: flex;
	flex-direction: row;
}

.row.reverse {
	flex-direction: row-reverse;
}

@media(max-width: 750px) {
	.row {
		flex-direction: column;
	}
	.row.reverse {
		flex-direction: column;
	}
}

header {
	align-items: flex-end;
	background-color: rgba(0, 0, 0, 1.0);
	box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.25);
	position: sticky;
	top: 0;
}

header nav {
	position: absolute;
	background-color: #060606;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.25);
	transition: opacity 0.25s ease-out, transform 0.25s ease-out;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

header nav a {
	color: white;
	text-decoration: none;
	padding: 1rem;
	box-sizing: border-box;
}

header nav a:not(:first-child) {
	border-top: 1px solid white;
}

body, main {
	flex: 1;
}

body > main {
	display: flex;
	flex-direction: column;
}

section {
	flex: 1;
	display: flex;
	flex-direction: column;
}

section.call-out,
section.code-image,
section.contact-form,
section.kellett-screen,
section.john-rogers-screen {
	padding: 2rem;
}

section.call-out {
	background-color: rgba(255,255,255,0.06125);
}

section.contact-form {
	background-color: rgba(255,255,255,0.125);
}

section h3 {
	padding: 1rem;
	margin: auto;
}

section.contact-form h4 {
	text-align: right;
	padding: 0;
	margin: 0;
}

section.kellett-screen,
section.john-rogers-screen {
	min-height: 30rem;
}

section.john-rogers-screen {
	background-image: url('/images/john-rogers-screenshot.png');
}

section.kellett-screen {
	background-image: url('/images/kellett-screenshot.png');
	background-repeat: no-repeat;
	background-size: cover;
}

section.code-image {
	background-image: url('/images/pexels-kevin-ku-577585.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
	min-height: 444px;
}

h3 {
	color: rgba(255,255,255, 0.75);
	word-break: keep-all;
	line-height: 1em;
	text-align: right;
	margin: 0;
}

section.logos {
	margin-top: 1.5rem;
	text-align: center;
	margin-bottom: 1rem;
}

section.logos img {
	width: 14%;
	max-height: 5rem;
	min-width: 6.5rem;
	object-fit: contain;
	margin: 2%;
}

section.logos-small img {
	width: 10%;
	min-width: 3.5rem;
	vertical-align: middle;
}

section.logos p {
	font-size: 1.25rem;
	padding-left: 1rem;
	padding-right: 1rem;
}